<h2>Templates: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form action="" (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
            <!-- campo de producto -->
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           required
                           minlength="3"

                           ngModel
                           name="producto"
                    >
                    <span class="form-text text-danger"
                          *ngIf="nombreValido()">
                        Debe de ser de 3 letras
                    </span>
                        
                </div>
            </div>

            <!-- campo de precio -->
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Nombre del producto"
                           required
                           min="0"

                           ngModel
                           name="precio"
                    >
                    
                        
                </div>
            </div>

            <!-- campo de producto -->
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Existencias del producto"
                           ngModel
                           name="existencias"
                    >                        
                </div>
            </div>

            <!-- boton -->
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>


<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine - ¿Se a cambia algun valor?</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched - ¿Se a tocado formulario?</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>