<h2>Reactive: <small>Swithces</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()" >

    <!-- radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input  class="form-check-input" 
                        type="radio" 
                        id="radioMasculino"
                        value="M"
                        formControlName="genero">

                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input  class="form-check-input" 
                        type="radio" 
                        id="radioFemenino"
                        value="F"
                        formControlName="genero">

                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>

        </div>
    </div>


    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label mt-2">Notificacione</label>
        <div class="col-sm-9">

            <div class="form-check form-switch">
                <input  class="form-check-input" 
                        type="checkbox" 
                        role="switch" 
                        id="flexSwitchCheckChecked"
                        formControlName="notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>


    <!-- Checks -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input  class="form-check-input" 
                        type="checkbox" 
                        id="defaultCheck1"
                        formControlName="condiciones">
                <label class="form-check-label" for="defaultCheck1">
                    Término y Condiciones de uso
                </label>
            </div>

        </div>
    </div>


    <!-- boton -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Guardar
            </button>
        </div>
    </div>

</form>


<h5> Valor del formulario </h5>
<pre>{{ miFormulario.value | json }}</pre>

<h5> Persona </h5>
<pre>{{ persona | json }}</pre>


<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
<!-- 
<h5>Condiciones:</h5>
<pre>{{ this.miFormulario?.controls?.['terminos']?.invalid }}</pre> -->
