<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form   autocomplete="off"
                [formGroup]="miFormulario"
                (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del usuario"
                            formControlName="nombre">

                    <span   class="fom-text text-danger"
                            *ngIf="campoValido('nombre')">
                        Debe ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="nombre" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            placeholder="Email del usuario"
                            formControlName="email">
                    <span   class="fom-text text-danger"
                            *ngIf="campoValido('email')">
                        {{ emailErrorMsg }}
                    </span>
                    <!-- <span class="fom-text text-danger"
                        *ngIf="emailRequired()">
                        El correo es obligatorio
                    </span>
                    <span class="fom-text text-danger"
                        *ngIf="emailFormato()">
                        El valor no tiene formato de correo
                    </span>
                    <span class="fom-text text-danger"
                        *ngIf="emailTomado()">
                        El correo ya fue tomado
                    </span> -->
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label for="nombre" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre código del usuario"
                            formControlName="username">

                    <span class="fom-text text-danger"
                        *ngIf="campoValido('username')">
                        El username no puede ser 'strider'
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label for="nombre" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Password de su cuenta"
                            formControlName="password">

                    <span class="fom-text text-danger"
                        *ngIf="campoValido('password')">
                        La contraseña debe de ser mayor a 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label for="nombre" class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Confirmar la contraseña"
                            formControlName="password2">

                    <span class="fom-text text-danger"
                            *ngIf="campoValido('password2')">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="miFormulario.pending">
                        Crear
                    </button>
                </div>
            </div>
            

        </form>        
    </div>
</div>


<h2>Form Valid: {{ miFormulario.valid }}</h2>
<h2>Form Errors: {{ miFormulario.errors | json }}</h2>
<h2>Form Status: {{ miFormulario.status | json }}</h2>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['password2'].errors | json }}</pre>